@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
   font-family: monospace;
   font-size: 16px;
   line-height: 1.4;
}

h2 {
   text-align: center;
   font-size: 2em;
}

h3 {
   font-size: 1.7em;
}

h4 {
   font-size: 1.2em;
   margin-top: 0px;
}

ol {
   line-height: 2;
}


main, header {
   color: black;
   margin: 0 auto;
   min-height: 100%;
   min-width: 200px;
   width: 53%;
   overflow-wrap: break-word;
}

/* Style for smartphones */
@media (max-width: 480px) {
  * {
    font-size: 14px; /* Slightly smaller base font */
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.7em;
  }

  h4 {
    font-size: 1.2em;
  }

  main, header {
    width: 80%; /* Expand width to fill more of small screen */
    padding: 10px;
    margin: 0 auto;
  }
}

a {
   /*text-decoration: none;*/
}

li.talks-with-margin {
   margin-bottom: 3%;
}

li.courses-with-margin {
   margin-bottom: 5%;
}


/* Papers and preprints */
.title {
   font-weight: bold;
   display: block;
}

.research-auteurs {
}

.research-annee {
}

.research-acceptedat {
   font-style: italic;
   display: block;
   color: #5BADFF;
}

/* Links for pdf, eprint or slides */
.research-lien {
   padding-right: 1em;
}

/* Talks */
.event {
}


/* Course title */
.titre-cours {
   font-weight: bold;
}

.descriptif-cours {
   display: block;
   color: #333333;
}

.quadri-cours {
   color: #5BADFF;
   font-weight: bold;
}

.calligraphy {
   font-family: cursive;
}